.cont-28{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.0565234);}
.size-43{behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(158,175,185) 0%, rgb(0,0,0) 100%);height:51px;}
.size-49{behavior:url(js/PIE.htc);-pie-background:linear-gradient(bottom, rgb(158,175,185) 0%, rgb(0,0,0) 100%);height:51px;}
