html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
#body{background-color:rgba(255,255,255,0.272422);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:-1px;}
.size{width:100%;min-width:960px;min-height:2363px;}
.cont{z-index:1;pointer-events:none;border-top:1px double rgba(103,121,133,0.0334766);border-bottom:1px solid rgba(103,121,133,0.0334766);overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/sebastian-spindler-221562-960.jpg);background-color:rgba(0,0,0,0.0565234);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:53px;}
.vis-2{display:block;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:271px;margin-top:0;}
.size-2{min-width:418px;width:418px;min-height:167px;}
.pos-4{position:relative;margin-left:0;margin-top:116px;}
.size-3{min-width:417px;width:417px;min-height:51px;}
.cont-3{z-index:21;pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:4.80pt;margin-bottom:-4.80pt;padding-right:0;text-align:center;}
.font{font-family:Montserrat;font-size:15.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:28.80pt;letter-spacing:normal;}
.pos-5{position:relative;margin-left:1px;margin-top:-167px;}
.size-4{min-width:417px;width:417px;min-height:167px;}
.cont-4{z-index:2;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:center;}
.font-2{font-family:Montserrat;font-size:88.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:107.88pt;letter-spacing:normal;}
.pos-6{position:relative;margin-left:-2px;margin-top:407px;}
.size-5{min-width:964px;width:964px;min-height:777px;}
.pos-7{position:relative;margin-left:0;margin-top:0;}
.size-6{min-width:324px;width:324px;min-height:777px;}
.colwrapper{line-height:0;}
.size-7{min-width:320px;width:320px;min-height:239px;}
.cont-5{z-index:10;border:2px solid rgba(9,16,20,0.964082);background-color:transparent;}
.pos-8{position:relative;margin-left:22px;margin-top:20px;}
.size-8{min-width:280px;width:280px;min-height:197px;}
.size-9{min-width:220px;width:220px;min-height:178px;}
.cont-6{z-index:14;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;margin-top:-4.26pt;margin-bottom:5.01pt;padding-right:0;text-align:left;}
.font-3{font-family:Muli;font-size:33.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:34.08pt;letter-spacing:normal;}
.pos-9{position:relative;margin-left:201px;margin-top:-65px;}
.size-10{min-width:79px;width:79px;min-height:84px;height:84px;}
.cont-7{z-index:13;pointer-events:auto;}
.img{position:absolute;left:0;width:79px;height:79px;top:2px;}
.pos-10{position:relative;margin-left:0;margin-top:-2px;}
.size-11{min-width:324px;width:324px;min-height:281px;}
.size-12{min-width:320px;width:320px;min-height:277px;}
.cont-8{z-index:8;border:2px solid rgba(9,16,20,0.964082);background-image:url(../images/rodion-kutsaev-41022-320.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-11{position:relative;margin-left:20px;margin-top:20px;}
.size-13{min-width:203px;width:203px;min-height:147px;}
.cont-9{z-index:15;pointer-events:auto;}
.para-4{padding-top:0;text-indent:0;margin-top:-1.89pt;margin-bottom:4.14pt;padding-right:0;text-align:left;}
.font-4{font-family:Muli;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:11.36pt;letter-spacing:normal;}
.font-5{font-family:Muli;font-size:16.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:15.62pt;letter-spacing:normal;}
.para-5{padding-top:0;text-indent:0;margin-top:-4.02pt;margin-bottom:4.77pt;padding-right:0;text-align:left;}
.font-6{font-family:Muli;font-size:25.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:24.14pt;letter-spacing:normal;}
.pos-12{position:relative;margin-left:2px;margin-top:-279px;}
.size-14{min-width:320px;width:320px;min-height:278px;}
.cont-10{z-index:17;pointer-events:auto;}
.button{border:0;background-color:transparent;}
.button:hover{background-color:rgba(255,255,255,0.272422);border-color:rgba(255,255,255,0.272422);color:rgba(255,255,255,0.272422);}
.button:active{background-color:rgba(103,121,133,0.0334766);border-color:rgba(255,255,255,0.272422);color:rgba(255,255,255,0.272422);}
.vis-3{display:inline-block;overflow:hidden;outline:0;}
.size-15{width:320px;height:147px;}
.font-7{padding-top:131px;margin-top:0;margin-bottom:0;}
.pos-14{position:relative;margin-left:0;margin-top:-4px;}
.size-16{min-width:320px;width:320px;min-height:255px;}
.cont-11{z-index:5;border:2px solid rgba(9,16,20,0.964082);background-image:url(../images/ahmed-badawy-382007-320.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-15{position:relative;margin-left:20px;margin-top:22px;}
.size-17{min-width:247px;width:247px;min-height:147px;}
.cont-12{z-index:18;pointer-events:auto;}
.para-6{padding-top:0;text-indent:0;margin-top:-2.27pt;margin-bottom:4.52pt;padding-right:0;text-align:left;}
.font-8{font-family:Muli;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:10.60pt;letter-spacing:normal;}
.font-9{font-family:Muli;font-size:16.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:14.58pt;letter-spacing:normal;}
.para-7{padding-top:0;text-indent:0;margin-top:-4.83pt;margin-bottom:5.58pt;padding-right:0;text-align:left;}
.font-10{font-family:Muli;font-size:25.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:22.53pt;letter-spacing:normal;}
.pos-16{position:relative;margin-left:2px;margin-top:-256px;}
.size-18{min-width:320px;width:320px;min-height:253px;}
.cont-13{z-index:20;pointer-events:auto;}
.size-19{width:320px;height:134px;}
.font-11{padding-top:119px;margin-top:0;margin-bottom:0;}
.pos-17{position:relative;margin-left:322px;margin-top:-777px;}
.size-20{min-width:642px;width:642px;min-height:777px;}
.size-21{min-width:642px;width:642px;min-height:388px;}
.size-22{min-width:638px;width:638px;min-height:384px;}
.cont-14{z-index:9;border:2px solid rgba(9,16,20,0.964082);background-image:url(../images/train_17_0036-638.jpg);background-color:transparent;background-repeat:no-repeat;background-position:0 0;background-size:cover;background-clip:padding-box;}
.pos-18{position:relative;margin-left:20px;margin-top:21px;}
.size-23{min-width:269px;width:269px;min-height:132px;}
.cont-15{z-index:11;pointer-events:auto;}
.para-8{padding-top:0;text-indent:0;margin-top:-4.02pt;margin-bottom:5.22pt;padding-right:0;text-align:left;}
.pos-19{position:relative;margin-left:2px;margin-top:-386px;}
.cont-16{z-index:12;pointer-events:auto;}
.size-24{width:638px;height:200px;}
.font-12{padding-top:184px;margin-top:0;margin-bottom:0;}
.size-25{min-width:638px;width:638px;min-height:383px;}
.cont-17{z-index:7;pointer-events:auto;}
.size-26{width:638px;height:199px;}
.size-27{min-width:638px;width:638px;min-height:389px;height:389px;}
.cont-18{z-index:6;border:2px solid rgba(9,16,20,0.964082);background-image:url(../images/daiki-sagiyama-268530-638.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-20{position:relative;margin-left:2px;margin-top:-391px;}
.size-28{min-width:638px;width:638px;min-height:388px;}
.cont-19{z-index:16;pointer-events:auto;}
.size-29{width:638px;height:202px;}
.font-13{padding-top:186px;margin-top:0;margin-bottom:0;}
.pos-21{position:relative;margin-left:20px;margin-top:-366px;}
.size-30{min-width:220px;width:220px;min-height:147px;}
.cont-20{z-index:19;pointer-events:auto;}
.pos-22{position:relative;margin-left:-2px;margin-top:-4px;}
.size-31{min-width:964px;width:964px;min-height:430px;}
.size-32{min-width:324px;width:324px;min-height:430px;}
.size-33{min-width:320px;width:320px;min-height:426px;}
.cont-21{z-index:4;border:2px solid rgba(9,16,20,0.964082);background-image:url(../images/daniele-levis-pelusi-276120-320.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-23{position:relative;margin-left:21px;margin-top:29px;}
.size-34{min-width:222px;width:222px;min-height:147px;}
.cont-22{z-index:22;pointer-events:auto;}
.pos-24{position:relative;margin-left:2px;margin-top:-428px;}
.cont-23{z-index:23;pointer-events:auto;}
.size-35{width:320px;height:221px;}
.font-14{padding-top:205px;margin-top:0;margin-bottom:0;}
.pos-25{position:relative;margin-left:322px;margin-top:-430px;}
.size-36{min-width:642px;width:642px;min-height:430px;}
.size-37{min-width:638px;width:638px;min-height:426px;}
.cont-24{z-index:3;border:2px solid rgba(9,16,20,0.964082);background-image:url(../images/noah-grossenbacher-272202-638.jpg);background-color:transparent;background-repeat:no-repeat;background-position:50% 0;background-size:cover;background-clip:padding-box;}
.pos-26{position:relative;margin-left:27px;margin-top:29px;}
.size-38{min-width:228px;width:228px;min-height:147px;}
.cont-25{z-index:24;pointer-events:auto;}
.pos-27{position:relative;margin-left:1px;margin-top:-428px;}
.size-39{min-width:639px;width:639px;min-height:426px;}
.cont-26{z-index:25;pointer-events:auto;}
.size-40{width:639px;height:221px;}
.pos-28{position:relative;margin-left:292px;margin-top:138px;}
.size-41{min-width:377px;width:377px;min-height:132px;}
.cont-27{z-index:26;pointer-events:auto;}
.para-9{padding-top:0;text-indent:0;margin-top:-3.03pt;margin-bottom:4.53pt;padding-right:0;text-align:center;}
.font-15{font-family:Muli;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(255,255,255,0.55);line-height:9.09pt;letter-spacing:normal;}
.font-16{font-family:Muli;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(255,255,255,0.55);line-height:13.63pt;letter-spacing:normal;}
.para-10{padding-top:0;text-indent:0;margin-top:-4.17pt;margin-bottom:4.17pt;padding-right:0;text-align:center;}
.font-17{font-family:Muli;font-size:16.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:12.50pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:-6.44pt;margin-bottom:7.19pt;padding-right:0;text-align:center;}
.font-18{font-family:Muli;font-size:25.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:19.31pt;letter-spacing:normal;}
.pos-29{position:relative;margin-left:-1px;margin-top:179px;}
.size-42{min-width:962px;width:962px;min-height:61px;}
.size-43{min-width:265px;width:265px;min-height:61px;}
.size-44{min-width:265px;width:265px;min-height:27px;height:27px;}
.cont-28{z-index:30;pointer-events:auto;}
.input{border:1px solid rgb(254,255,254);background-color:rgb(254,255,254);padding:4px;width:265px;height:27px;font-size:9.00pt;font-family:Muli;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:11.36pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;}
.pos-30{position:relative;margin-left:1px;margin-top:13px;}
.size-45{min-width:263px;width:263px;min-height:21px;}
.cont-29{z-index:31;pointer-events:auto;}
.button-2{border:0;background-color:transparent;}
.button-2:hover{background-color:rgb(254,255,254);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button-2:active{background-color:transparent;border-color:rgb(0,0,0);color:rgb(254,255,254);}
.size-46{width:263px;height:19px;}
.font-19{font-family:Muli;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(254,255,254);line-height:11.36pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:2px;margin-top:0;margin-bottom:0;}
.pos-31{position:relative;margin-left:115px;margin-top:0;z-index:28;pointer-events:auto;}
.size-47{min-width:195px;width:195px;min-height:61px;}
.size-48{min-width:195px;width:195px;min-height:27px;height:27px;}
.input-2{border:1px solid rgb(254,255,254);background-color:rgb(254,255,254);padding:4px;width:195px;height:27px;font-size:9.00pt;font-family:Muli;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:11.36pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;}
.size-49{min-width:193px;width:193px;min-height:21px;}
.vis-4{display:none;}
.size-50{width:193px;height:21px;}
.submit{border:0;background-color:transparent;font-family:Muli;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(254,255,254);line-height:11.36pt;letter-spacing:normal;padding-top:0;text-indent:0;text-align:center;}
.submit:hover{background-color:rgb(254,255,254);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.submit:active{background-color:transparent;border-color:rgb(0,0,0);color:rgb(254,255,254);}
.pos-32{position:relative;margin-left:113px;margin-top:0;z-index:31;pointer-events:auto;}
.size-51{min-width:274px;width:274px;min-height:61px;}
.size-52{min-width:274px;width:274px;min-height:27px;height:27px;}
.input-3{border:1px solid rgb(254,255,254);background-color:rgb(254,255,254);padding:4px;width:274px;height:27px;font-size:9.00pt;font-family:Muli;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:11.36pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;}
.pos-33{position:relative;margin-left:2px;margin-top:13px;}
.size-53{min-width:271px;width:271px;min-height:21px;}
.size-54{width:271px;height:21px;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed{background-image:url(../images/sebastian-spindler-221562-1920.jpg);background-attachment:fixed;}
.cont-8{background-image:url(../images/rodion-kutsaev-41022-640.jpg);background-size:cover;}
.cont-11{background-image:url(../images/ahmed-badawy-382007-640.jpg);background-size:cover;}
.cont-14{background-image:url(../images/train_17_0036-1276.jpg);background-size:cover;}
.cont-18{background-image:url(../images/daiki-sagiyama-268530-1276.jpg);background-size:cover;}
.cont-21{background-image:url(../images/daniele-levis-pelusi-276120-640.jpg);background-size:cover;}
.cont-24{background-image:url(../images/noah-grossenbacher-272202-1276.jpg);background-size:cover;}
}
@media (min-width:960px) {
.fixed{background-image:url(../images/sebastian-spindler-221562-1200.jpg);background-attachment:fixed;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/sebastian-spindler-221562-2400.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/sebastian-spindler-221562-1600.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/sebastian-spindler-221562-3200.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/sebastian-spindler-221562-2000.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/sebastian-spindler-221562-4000.jpg);background-attachment:fixed;}
}
#body-2{background-color:rgb(0,0,0);}
.size-55{width:100%;min-width:960px;min-height:3855px;}
.fixed-2{background-attachment:fixed;background-image:url(../images/brandon-wong-263951-960.jpg);background-color:rgba(0,0,0,0.0565234);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-34{position:relative;margin-top:139px;}
.size-56{min-width:960px;width:960px;min-height:315px;}
.size-57{min-width:560px;width:560px;min-height:315px;}
.wrapper{font-size:15px;line-height:1.4;min-height:315px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-35{position:relative;margin-left:110px;margin-top:141px;}
.size-58{min-width:290px;width:290px;min-height:33px;}
.cont-30{z-index:3;pointer-events:auto;}
.para-12{padding-top:0;text-indent:0;margin-top:0.99pt;margin-bottom:-0.99pt;padding-right:0;text-align:right;}
.font-20{font-family:Muli;font-size:15.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:21.87pt;letter-spacing:normal;}
.pos-36{position:relative;margin-left:0;margin-top:77px;}
.pos-37{position:relative;margin-left:0;margin-top:144px;}
.size-59{min-width:252px;width:252px;min-height:28px;}
.cont-31{z-index:4;pointer-events:auto;}
.para-13{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:left;}
.font-21{font-family:Muli;font-size:15.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:19.88pt;letter-spacing:normal;}
.pos-38{position:relative;margin-left:148px;margin-top:0;}
.cont-32{z-index:5;pointer-events:auto;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.cont-33{z-index:6;pointer-events:auto;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-39{position:relative;margin-left:202px;margin-top:141px;}
.size-60{min-width:198px;width:198px;min-height:33px;}
.pos-40{position:relative;margin-left:0;margin-top:132px;}
.cont-34{z-index:9;pointer-events:auto;}
.para-14{padding-top:0;text-indent:0;margin-top:4.97pt;margin-bottom:-4.97pt;padding-right:0;text-align:left;}
.font-22{font-family:Muli;font-size:15.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:29.82pt;letter-spacing:normal;}
.pos-41{position:relative;margin-left:400px;margin-top:-183px;}
.cont-35{z-index:8;pointer-events:auto;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.cont-36{z-index:10;pointer-events:auto;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-42{position:relative;margin-left:543px;margin-top:-174px;}
.size-61{min-width:417px;width:417px;min-height:33px;}
.pos-43{position:relative;margin-left:0;margin-top:76px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/brandon-wong-263951-1920.jpg);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed-2{background-image:url(../images/brandon-wong-263951-1200.jpg);background-attachment:fixed;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/brandon-wong-263951-2400.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed-2{background-image:url(../images/brandon-wong-263951-1600.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/brandon-wong-263951-3200.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed-2{background-image:url(../images/brandon-wong-263951-2000.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/brandon-wong-263951-4000.jpg);background-attachment:fixed;}
}
.size-62{width:100%;min-width:960px;min-height:2363px;height:2363px;}
.cont-37{pointer-events:none;border-top:1px double rgba(103,121,133,0.0334766);border-bottom:1px solid rgba(103,121,133,0.0334766);background-color:rgb(0,0,0);}
.cont-38{z-index:1;pointer-events:none;border-top:1px double rgba(103,121,133,0.0334766);border-bottom:1px solid rgba(103,121,133,0.0334766);background-color:rgb(0,0,0);}
.pos-44{position:relative;margin-top:335px;}
.pos-45{position:relative;margin-left:296px;margin-top:0;}
.size-63{min-width:369px;width:369px;min-height:33px;}
.pos-46{position:relative;margin-left:296px;margin-top:262px;}
.size-64{min-width:369px;width:369px;min-height:76px;}
.pos-47{position:relative;margin-left:64px;margin-top:0;}
.size-65{min-width:240px;width:240px;min-height:76px;}
.button-3{border:0;background-color:transparent;}
.button-3:hover{background-color:rgb(233,202,23);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button-3:active{background-color:rgb(233,202,23);border-color:rgb(0,0,0);color:rgb(254,255,254);}
.size-66{width:240px;height:46px;}
.font-23{padding-top:30px;margin-top:0;margin-bottom:0;}
.pos-48{position:relative;margin-left:0;margin-top:-55px;}
.para-15{padding-top:0;text-indent:0;margin-top:0.47pt;margin-bottom:-0.47pt;padding-right:0;text-align:center;}
.font-24{font-family:Muli;font-size:7.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(241,241,255);line-height:10.41pt;letter-spacing:normal;}
